body{
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.205);
    margin: 0;
    padding: 0;
    border: none;
    scale: none;
    overflow-x: hidden;
    z-index: 0;
}

.admin-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 250px;
    position: absolute;
    top: 2.5%;
    left: 8%;

    header{
        color: black;
        font-size: 24px;

        a{
            text-decoration: none;
            background: linear-gradient(to left, rgba(0, 128, 0, 0.800), rgba(0, 0, 255, 0.800));
            color: white;
            padding: 10px 22px;
            border-radius: 12px;
            font-weight: bold;
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        li{
            list-style-type: none;

            a{
                text-decoration: none;
                color: black;
                font-size: 18px;
                padding: 5px 14px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                cursor: pointer;
            }
        }
    }
}

.side-container{
    height: 100vh;
    width: 18%;
    background: linear-gradient(to top, rgba(0, 128, 0, 0.800), rgba(0, 0, 255, 0.800));
    position: fixed;

    .profile-icon{
        position: absolute;
        bottom: .5%;
        font-size: calc(2em);
        color: white;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 8px;
        cursor: pointer;
    }
}

.data-base{
    position: absolute;
    top: 10%;
    left: 25%;

    #sessionContactData{
        display: none;
    }

    #sessionServiceData{
        display: none;
    }

    .sessionList{
        h1{
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: underline;
        }
    }
}

