.compose-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8em;
    width: 75%;
    background-color: transparent !important;
    position: absolute;
    top: 80%;
    left: 12.5%;
    border: none;
    margin: none;
    box-sizing: border-box;
    transform: translateX(-100%);
    animation: moveRight 1.5s linear forwards;
}

@keyframes moveRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.compose-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    height: 100%;
    width: 32% !important;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1PX rgba(0, 0, 0, 0.2);
}

.compose-box ion-icon{
    height: 50px;
    width: 50px;
    padding: 3px;
    background-color: black;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.compose-text{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: fit-content;
    margin-top: 0%;
    text-align: justify;
}

.compose-box h4{
    font-size: 17px;
}

.compose-box div{
    width: 90%;
    text-align: justify;
}