.message-container{
    height: 10em;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.494);
    top: 30%;
    padding: 10px;
    border-radius: 12px;
}

.message-container a img{
    height: 50px;
    width: 50px;
}

.message-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
